body {
  padding: 8px;
}

.article {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 0.8rem;
  box-shadow: 0 0 4px rgba(255, 255, 255, .5);
  width: fit-content;
  padding: 4px;
  border-radius: 8px
}

.article .header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.article .header div {
  display: flex;
  flex-direction: column;
}

.article .header span {
  opacity: .6;
}

.article img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.article button {
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  cursor: pointer;
}

.article button.seguir {
  background-color: #646cff;
  color: #fff;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */
.head {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #444;
  width: fit-content;
  box-shadow: 0 0 4px rgba(255, 255, 255, .5);
  padding: 4px;
  margin-top: 20px;
}

.user-img {
  display: flex;
  align-items: center;
}

.user-img img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
}

.user-details .title,
.menu .title {
  font-size: 10px;
  font-weight: 500;
  color: #ffa726;
  /* Naranja vibrante */
  text-transform: uppercase;
  margin-bottom: 10px;
}

.user-details .name {
  font-size: 14px;
  font-weight: 500;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */
.save-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-top: 20px;
  border-radius: 50px;
}

.save-button.saved {
  transform: scale(1.1);
  background-color: darkgreen;
}

/* -------------------------------------------------------------------------------------------------------------------------------------- */
.container-table {
  width: 30%;
  margin-top: 20px;
  box-shadow: 0 0 4px rgba(255, 255, 255, .5);
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.data-table th:first-child {
  border-radius: 20px 0 0 0;
}

.data-table th:last-child {
  border-radius: 0 20px 0 0;
}

.data-table th,
.data-table td {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.data-table th {
  background-color: #4CAF50;
  color: white;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.paginas-btn {
  display: flex;
  gap: 10px;
}